PROJECT_NAME=cogscore-online-runner
VNC_PASSWORD=change-me
COGSCORE_DOCKER_NETWORK=cogscore_online_net
MAX_ARCH_CPU=2
MAX_ARCH_MEMORY=4g
ARCH_TIMEOUT_SECONDS=120
PLOT_TIMEOUT_SECONDS=1800
DOCKER_CLEANUP_ATTEMPTS=30
DOCKER_CLEANUP_RETRY_SECONDS=2
COGSCORE_STOP_TIMEOUT=30
